{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Beers list</h1>
        <p class="lead">All beers in the database at {% now "jS F Y H:i" %}</p>
        <ul>
        {% for beer in beer_list %}
            <p>
                {{forloop}}
                {{forloop.counter}}
            </p>
            {% comment %}
                {% if beer.abv > 5 %}
                    <li><a href="{% url 'beer-detail-view' beer.pk %}">{{beer}}</a></li>
                {% endif%}
            {% endcomment %}
            <li>
                <a href="{% url 'beer-detail-view' beer.pk %}">{{beer}}</a>
                <p>{{beer.created_at | date:"D d M Y"}}</p>
                <p>{{beer.is_filtered | yesno:"Si, No"}}</p>
            </li>
            {% empty %}
                La lista está vacía
        {% endfor %}
        </ul>
    </div>
{% endblock %}