{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mt-5">Login</h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary">Go</button>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}